name: Build and Push to ECR

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  login_and_build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2
    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    - name: Build, tag, and push image to ECR
      env:
        ECR_REPOSITORY: yt-backend-repo
        IMAGE_TAG: ${{ github.sha }}
      run: |
        ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
        REPO_URI=${ACCOUNT_ID}.dkr.ecr.${{ 'ap-south-1' }}.amazonaws.com/$ECR_REPOSITORY
        docker build -t $ECR_REPOSITORY:latest .
        docker tag $ECR_REPOSITORY:latest $REPO_URI:latest
        aws ecr describe-repositories --repository-names "$ECR_REPOSITORY" || aws ecr create-repository --repository-name "$ECR_REPOSITORY"
        docker push $REPO_URI:latest
